header {
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    background-color: hsl(0, 0%, 20%);
    color: rgb(224, 212, 212);
    padding: 5px 8px;
    text-align: center;   
}

body {
    background-image: url(https://resources.dorna.com/landings/backgrounds/4/7/47c09570-5db5-11ec-b636-0167f6a57ba1/bg-landing-vp-2024-desktop-v3.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: white;
    margin: 0; 
    min-height: 100vh;
    justify-content: space-between;
    background-position: center; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    display: flex;
    flex-direction: column;
    text-align: left;
}
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #575757;
    margin-top: 5px;
}
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(54, 18, 18);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: rgb(54, 18, 18);
}
#olv-contraseña {
    background-color: #000000;
}
#olv-contraseña:hover {
    background-color: rgb(54, 18, 18);
}

a {
    flex-direction: column;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

.boton-ancho {
    text-align: center;
    background-color: #121a31;
    border-radius: 3px;
    color: #e8eaed;
    padding: 8px;
    margin: 8px 0; 
}

.boton {
    border: 1px solid rgb(54, 18, 18);
    text-transform: uppercase;
    padding: 15px;
    font-size: medium;
    text-align: center;
    width: 220px; 
    background-color: rgb(85, 30, 35);
    margin: 10px auto; 
}

main {
    flex-direction: column;
    display: flex;
    width: 600px;
    gap: 20px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}

footer {
    display: flex;
    background-color: #333;
    color: white;
    padding: 5px 9px;
    text-align: center;
    gap: 20px; 
    justify-content: space-between;
}